@font-face {
    font-family: "Gotham";
    src: url("../../../../resources/polices/GOTHAMMEDIUM.TTF");
}

#fenetre {
	-fx-background-image: url("../../../../resources/images/espace.gif");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

.label {
	-fx-font-family: "Gotham";
	-fx-text-fill: white;
	-fx-font-size: 10pt;
	-fx-effect: dropshadow(gaussian, #f008, 20px, 0.25, 0, 0);
}

.button {
	-fx-border-radius: 5px;
	-fx-font-size: 9pt;
	-fx-background-color: #111;
	-fx-text-fill: #fff;
	-fx-font-family: "Gotham";
}

.button:hover {
	-fx-text-fill: #f00;
	-fx-cursor: hand;
}

.button:hover .text {
	-fx-effect: dropshadow(gaussian, #f008, 15px, 0.5, 0, 0);
}